@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #080808;
  --foreground: #ffffff;
}


* {
  box-sizing: border-box;
}


html {
  background: #080808;
}


body {
  background: #080808;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-vazir), sans-serif;
}


button,
input {
  font-family: inherit;
}
